@CHARSET "UTF-8";
table{border-collapse:collapse;border: 0 solid powderblue;}
header {color:#ffcad0;width: 100%;height: 50px;;top: 0;left: 0;border: 0 solid powderblue;}
#container{margin: 0 auto;width: 90%;height:550px;border: 0 solid powderblue;padding: 20px;margin-top: 55px;}
/* #container1{ position: fixed;} */
/* #footer{width: 100%;margin: 0 auto;} */
#footer{margin: 0 auto; width: 100%; height: 50px;color:white;text-align: center;}
#title{text-align:center;}
#wrapper{width: 100%;}
#mark{font-size: 13px;}
#span-form{font-size:18px;width: 110px;padding-right: 5px;}
#href_div{ padding-top: 10px;text-align: right;margin-right: 10px;padding-right: 15px;}
#div-style{width: 410px;margin: 0 auto}
.gms-text-center{text-align:center;}
.gms-border-black{border:1px solid ;}
.gms-width-30pro{width: 30%;}
.gms-width-100pro{width: 100%;}
.gms-text-deco{text-decoration: none;}
.gms-height-25pro{height: 25px;}
.gms-list-styletype{list-style-type: none;}
.gms-margin-0pro{margin: 0 auto;}
.gms-color-powderblue{color:powderblue;}
.gms-border-solid{border: 0px solid black;}
.gme-d-inline{display: inline-block}
.gme-bg-color{background-color:#c4cfff;}
.gme-margin-0pro{margin: 0 auto;}
.gme-float-right{float: right;}

/* unvisited link */
a:link {color: #ffffb9;}
/* visited link */
a:visited {color: #ffffb9;}

/* mouse over link */
a:hover {color: #ffffb9;font-size:15px;text-decoration:underline;}

/* selected link */
a:active {color: #ffffb9;}


